@import '../../styles/variables.scss';


.areaLoginMain{
    @include position(space-between, row, center);
    height: 100vh;
}

.areaLoginMainImg{
    background-color: $headerFooterColor;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.imgLogin{
    width: 100vh;
    margin: 5vh;
}
.areaLoginMainforms{
    background-color: $genericColor;
    height: 100vh;
    display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 100vh;
    
}
.areaTeste{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
}


.teste{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.testeL{
 display: flex;
 margin-right: 10vh;
}
.formsLogin{

    
    display: flex;
   width: 100%;
    flex-direction: column;
    align-items: center;
/* margin-top: 5vh;
    border: 2px solid $headerFooterColor;
    padding: 5vh;
    font-size: 25px;
   /*  height: 50vh;
    width: 35vh; */
    /*align-items: center;
    margin-top: 10vh; */
}
.inputFormsLogin{
    background-color: $genericColor;
    border-radius: 25px;
    border: 2px $headerFooterColor solid;
    width: 100%;
}

.LinkHomePageLogin{
    text-decoration: none;
    color: $homeMainColor;
    
}.testeA:hover{
        font-size: 20px;
        transition-duration: 300ms;
    }
.btnTelaLogin{
    margin-top: 3vh;
    background-color: $headerFooterColor;
    border: 0px solid ;
    border-radius: 15px;
    width: 100%;
    font-size: 3vh;
    color: $genericColor;
}