@import '../../styles/variables.scss';

.storeAreaMainProduto{
   margin: 1%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}
.storeProduto{
    background-color:  $genericColor;
    min-width: 15%;
    max-width: 20%;
    padding: 1%;
    margin: 2vh;
}
.storeProdutoImg{
    width: 35vh;
}