@import '../../styles/variables.scss';

/* ------- header ------ */
.HeaderAreaMain {
    @include position(space-between, row, center);
    background-color: $headerFooterColor;
    color: rgb(255, 255, 255);
}

.btnHeaderIconeMenu {
    background-color: $headerFooterColor;
    border: 0vh;
    margin-right: 3vh;
    color: $genericColor;

    :hover {
        background-color: aliceblue;
        transition-duration: 700ms;
        border-radius: 5px;
    }
}

.logoHeaderArea {
    margin-left: 5vh;
    display: flex;
    align-items: center;
}

.areaHeaderBtnMenu{
    background-color: $headerFooterColor;
    color: $genericColor;
    border: 0cap;
    margin-left: 5vh;

    :hover{
        color: rgb(0, 87, 36);
        
    }
}

.linksHeaderArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.linksHeader {
    margin: 2vh;
    margin-right: 5vh;
    color: $genericColor;

    :hover{
        color: rgb(0, 87, 36)
    }
}

/* ------- home ------ */
.homeAreaMain {
    @include position(space-between, row, start);
    background-color: $homeMainColor;
}

.homeTituloMain {
    font-size: 10vh;
}

.homeAreaTituloTextos {
    @include position(space-between, column, start);
    margin: 5%;
    min-width: 35%;
    max-width: 50%;
    margin-top: 18vh;
    height: 80%;
}

.homeAreaImg {
    margin-top: 30vh;
    min-width: 35%;
    max-width: 100%;
}

.homeImgMain {
    width: 55vh;
    height: 55vh;
    /* margin: 15vh;*/
    margin-right: 20vh;

}


.homeAreaTituloBtn {
    background-color: $genericColor;
    border: 0px;
    padding: 2vh;
    border-radius: 5vh;
    width: 30vh;

    margin-top: 8vh;
}
.homeAreaTituloBtnCadaste{
    background-color: $genericColor;
    border: 0px;
    padding: 2vh;
    border-radius: 5vh;
    width: 15vh;
    margin-left: 3vh;
    margin-top: 8vh;
}
.homeAreaBtnTextos{
    height: 50%;
    width: 50%;
}

.homeAreaTituloBtn:hover {
    background-color: $headerFooterColor;
    color: rgb(255, 255, 255);


}

@media (max-width: 1300px) {
    .homeImgMain {
        width: 55vh;
        height: 55vh;
        /* margin: 15vh;*/
        margin-right: 55vh;

    }
}

@media (max-width: 600px) {}

/* ------- content ------ */
.areaMainConteudo {
    @include position(space-between, column, center);
    background-color: $genericColor;
    color: $headerFooterColor;
    padding: 5vh;
    min-width: 15%;
    max-width: 100%;
}

.areaConteudoText {
    @include position(space-around, row, center);
    margin: 5vh;
    text-align: center;
    
}

.one {
    padding: 5vh;
    min-width: 35%;
    max-width: 50%;
}

.two {
    padding: 5vh;
    min-width: 35%;
    max-width: 50%;
}

.imgareaConteudo2 {
    box-shadow: 17px 21px 5px 0px rgba(83, 67, 53, 0.75);
    -webkit-box-shadow: 17px 21px 5px 0px rgba(83, 67, 53, 0.75);
    -moz-box-shadow: 17px 21px 5px 0px rgba(83, 67, 53, 0.75);
}

.imgareaConteudo1 {
    box-shadow: -27px 21px 5px 0px rgba(83, 67, 53, 0.75);
    -webkit-box-shadow: -27px 21px 5px 0px rgba(83, 67, 53, 0.75);
    -moz-box-shadow: -27px 21px 5px 0px rgba(83, 67, 53, 0.75);
}

/* ------- FOOTER ------ */
.areaFooterMain {
    @include position(space-around, row, center);
    background-color: $headerFooterColor;
    color: rgb(255, 255, 255);
}

.areaFooterSobre {
    padding: 10vh;
}

.areaFooterParceiros {
    padding: 10vh;
}
.textComponetsContent{
    width: 35%;
   
}
/* ------- carrossel -------- */

.divMainCarrossel {
    align-items: center;
    text-align: center;
    background-color: $homeMainColor;

}

.divComponetsCarrosse {}

.tituloMainCarrossel {
    margin-top: 30vh;
}

.divItemCarrossel {}

.itemCarrossel {
    background-color: $genericColor;
    padding: 5vh;
    margin: 5vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

/* -------- area body cadastar um vendedor */
.areaMainConteudoVendedor {
    background-color: $genericColor;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.btnContent {
    background-color: $headerFooterColor;
    border: 0cap;
    color: $genericColor;
    padding: 3vh;
    margin: 5vh;
    border-radius: 5px;
    font-size: 20px;
}

.imgContent {
    width: 250px;
}

