@import '../../styles/variables.scss';

/* ------- header ------ */
.HeaderAreaMain {
    @include position(space-between, row, center);
    background-color: $headerFooterColor;
    color: rgb(255, 255, 255);
}

.btnHeaderIconeMenu {
    background-color: $headerFooterColor;
    border: 0vh;
    margin-right: 3vh;
    color: $genericColor;

    :hover {
        background-color: aliceblue;
        transition-duration: 700ms;
        border-radius: 5px;
    }
}

.logoHeaderArea {
    margin-left: 5vh;
    display: flex;
    align-items: center;
}

.menuHeaderArea {
    display: flex;
    flex-direction: row;
}

.linksHeaderArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linksHeader {
    margin: 2vh;
    color: $genericColor;
}

/* ------- home ------ */
.homeAreaMain {
    @include position(space-between, row, start);
    background-color: $homeMainColor;
}

.homeTituloMain {
    font-size: 10vh;
}

.homeAreaTituloTextos {
    @include position(space-between, column, start);
    margin: 5%;
    max-width: 75vh;
    margin-top: 18vh;
}

.homeAreaImg {margin-top: 30vh; }

.homeImgMain {
    width: 55vh;
    height: 55vh;
    /* margin: 15vh;*/
    margin-right: 20vh; 

}


.homeAreaTituloBtn {
    background-color: $genericColor;
    border: 0px;
    padding: 2vh;
    border-radius: 5vh;
    width: 30vh;
  
    margin-top: 8vh;
}

.homeAreaTituloBtn:hover {
    background-color: $headerFooterColor;
    color: rgb(255, 255, 255);
    
    
}
@media (max-width: 1300px) {
    .homeImgMain {
        width: 55vh;
        height: 55vh;
        /* margin: 15vh;*/
        margin-right: 55vh; 
    
    }
}
@media (max-width: 600px) {}

/* ------- content ------ */
.areaMainConteudo {
    @include position(space-between, column, center);
    background-color: $genericColor;
    color: $headerFooterColor;
    padding: 5vh
}

.areaConteudoText {
    @include position(space-around, row, center);
    margin: 5vh;
    text-align: center;
}

.one {
    padding: 5vh;
}

.two {
    padding: 5vh;
}

.imgareaConteudo2 {
    box-shadow: 17px 21px 5px 0px rgba(83, 67, 53, 0.75);
    -webkit-box-shadow: 17px 21px 5px 0px rgba(83, 67, 53, 0.75);
    -moz-box-shadow: 17px 21px 5px 0px rgba(83, 67, 53, 0.75);
}

.imgareaConteudo1 {
    box-shadow: -27px 21px 5px 0px rgba(83, 67, 53, 0.75);
    -webkit-box-shadow: -27px 21px 5px 0px rgba(83, 67, 53, 0.75);
    -moz-box-shadow: -27px 21px 5px 0px rgba(83, 67, 53, 0.75);
}

/* ------- content ------ */
.areaFooterMain {
    @include position(space-around, row, center);
    background-color: $headerFooterColor;
    color: rgb(255, 255, 255);
}

.areaFooterSobre {
    padding: 10vh;
}

.areaFooterParceiros {
    padding: 10vh;
}











.areaMainConteudoVendedor{
    background-color: $genericColor;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.btnContent{
    background-color: $headerFooterColor;
    border: 0cap;
    color: $genericColor;
    padding: 3vh;
    margin: 5vh;
    border-radius: 5px;
    font-size: 20px;
}

.imgContent{
    width: 250px;
}
.testew{
   color: black;
    margin: 5vh;
    background-color: $genericColor;
    height: 50vh;
    margin-top: 15vh;
   border-radius: 15px;
   align-items: center;
   padding: 3vh;
   display: flex;
   flex-direction: column;
}
.teste{
    background-color: $homeMainColor;
    text-align: center;
  
}
.aa{
    margin-top: 20vh;
}